@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

html{
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    margin: o;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.blue {
    color: blue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

header h1{
    font-family: cursive;
    font-size: 1.5rem;
    text-decoration: line-through;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

nav a {
    word-spacing: -4px;
    color: blue;
    cursor: pointer;
}

nav a:hover {
    color: darkblue;
}

.active {
    color: black;
}

main {
    width: 65rem;
    margin: 0 auto;
}

section {
    margin: 0 5rem;
}

.hero-section {
    padding: 5rem 0 3rem;
}

.hero-section h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    margin-bottom: .5rem;
    text-align: center;
}

.hero-section p {
    font-family: cursive;
    font-size: 1.3rem;
    margin-bottom: 11.5rem;
    text-align: center;
}

.fade {
    color: #8491A0;
}

a.btn {
    background: none;
    border: 2px solid blue;
    color: blue;
    padding: .8rem 1rem;
    position: relative;
    text-transform: uppercase;
    font-family: cursive;
    font-weight: bolder; 
    cursor: pointer;
}

a.btn:hover {
    background-color: blue;
    color: white;
}

.about-section {
    padding: 2rem 0;
}

h3 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2.8rem;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

.about-container p{
    margin: .5rem .1rem; 
}

.about-section img {
    width: 25rem;
    height: 20rem;
    border-radius: .5rem;
}

.skills {
    padding: 2rem 1rem;
}

ul{
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem 8.8rem;
}

.soon {
    color: #333;
    font-family: monospace;
    margin-top: 3rem;
}

.after-text {
    margin-top: -2.5rem;
    text-align: center;
}

.work {
    margin-bottom: 5rem;
}

footer {
    padding: .5rem;
    font-family: cursive;
    background-color: blue;
    color: white;
    text-align: center;
}